[2019-03-21 13:17] williejay2017 opened #2 "Published code isnt the same as whats on the repo."
I installed this via yarn into a project and couldn't import ShepherdTour or TourMethods. Did a little digging around and it looks like you are referencing a deprecated dependency in your package.json (tether-shepherd vs shepherd) on the published code. The index.js from the published code is different from whats installed via package manager. There is no modules (ShepherdTour or TourMethods) to r

[2019-03-22 20:23] chuckcarpenter commented on #2
Correct, I haven't published this one yet to the registry, as I still have a few more testing tweaks. Have you tested any from this cloned repo @williejay2017 ?

[2019-03-25 20:51] williejay2017 commented on #2
@chuckcarpenter -  I had some issues but made some small changes and added some personal flavor and since I know you guys are super busy , I published it for use until your version is up and going.

[2019-03-26 14:15] #2 closed

[2019-06-06 13:10] greenkeeper[bot] opened #9 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/shipshapecode/react-shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this proje

[2019-06-24 11:57] greenkeeper[bot] opened #13 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/shipshapecode/react-shepherd/compare/master...shipshapecode:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2019-07-06 16:03] #9 closed

[2019-07-06 16:03] #13 closed

[2019-08-05 18:20] greenkeeper[bot] opened #22 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.18.0` to `1.19.0`.

🚨 [View failing branch](https://github.com/shipshapecode/react-shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this proje

[2019-08-05 22:50] nadnoslen opened #23 "Button Event Bindings Lost Between Route Transitions"
I was trying out the `react-shepherd` component and noticed that when returning to a page that had the tour embedded within that the event bindings (e.g. `next`, `cancel`, etc.) were being lost on returning to the page.

Turns out the mapping of the buttons seems to be forgetting to return the `type` attribute.

PR to follow.

[2019-08-07 14:33] chuckcarpenter commented on #23
closed by #24

[2019-08-07 14:33] #23 closed

[2019-08-07 14:33] #22 closed

[2019-08-08 05:28] greenkeeper[bot] opened #26 "An in-range update of shepherd.js is breaking the build 🚨"
## The dependency [shepherd.js](https://github.com/shipshapecode/shepherd) was updated from `4.4.0` to `4.4.1`.

🚨 [View failing branch](https://github.com/shipshapecode/react-shepherd/compare/master...shipshapecode:greenkeeper%2Fshepherd.js-4.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

shepherd.js is a direct de

[2019-08-08 12:24] rwwagner90 commented on #26
@chuckcarpenter any ideas on why this caused failures? Do we even have tests?

[2019-08-08 13:50] chuckcarpenter commented on #26
@rwwagner90 we do have one test and this looks like a Travis error. Rerunning to check.

[2019-08-08 14:08] #26 closed

[2019-08-08 21:20] nadnoslen commented on #23
Hey @chuckcarpenter, do you have plans to cut a new release (or release-candidate) any time soon?  I know you're probably working out the kinks from the `shepherd.js` major version changes.  No pressure.

[2019-08-12 17:00] chuckcarpenter commented on #23
@nadnoslen let me get one out for you this week so you can test and provide any further feedback, if that works for you?

[2019-08-12 20:45] adamcoulombe opened #29 "How to launch the shepherd tour programatically?"
I see you can use the TourMethods to launch a tour by clicking a button how do I launch it, say, on component mount?

[2019-08-12 21:20] adamcoulombe commented on #29
I tried
[code]

[2019-08-12 21:33] rwwagner90 commented on #29
@chuckcarpenter can you help figure this out? We should probably beef up our documentation as well.

[2019-08-26 19:58] jmfirth opened #35 "Custom Button Actions Don't Work"
I am unable to get custom button actions to work, as described in [docs](https://shepherdjs.dev/docs/Step.html) (grep: `button.action`).

[2019-08-26 19:59] jmfirth opened #37 "Defined Steps Don't Render"
I am unable to see any of the steps I defined in the `steps` prop.

[2019-08-27 11:35] #37 closed, assigned to nobody

[2019-08-27 11:36] #35 closed, assigned to nobody

[2019-08-29 21:48] chuckcarpenter commented on #29
@adamcoulombe sorry about the delay, I can take a look at this tomorrow. Offhand, definitely appears to be a bug.

[2019-08-30 21:42] chuckcarpenter commented on #29
@adamcoulombe not sure if anything has changed since you had this issue, but does it still show on latest release? I have this [branch](https://github.com/shipshapecode/react-shepherd/compare/issue/29) and was able to pass the prop as well as log it. In the example site I trigger the tour on mount as well:
![image](https://user-images.githubusercontent.com/706378/64052685-5ff2db00-cb34-11e9-879b-1

[2019-09-04 16:47] lockettks opened #41 "Feature request: Add Typescripts Typings to the React Wrapper"
Great library- I just started using it and am enjoying it.  It would be helpful to include the typings with this react wrapper project.  I see that some typings were written for the original shepherd.js as part of
https://github.com/shipshapecode/shepherd/blob/master/src/js/step.js#L32-L89
but with this project I'm having to write my custom types in order to make Typescript happy.
Thanks in advanc

[2019-09-04 16:51] chuckcarpenter commented on #41
@lockettks glad you like it! We'd be happy to take a PR that included the typings you had to create, if you would be willing?

[2019-09-04 16:54] lockettks commented on #41
Great!  I can’t promise when I’ll get it done, but I’ll be glad to help however I can.  I’ll probably start with just copying the typing files from your shepherd.js project over, and see how those work out.

[2019-09-04 18:06] rwwagner90 commented on #41
@lockettks we're definitely not pros at TypeScript here, but Shepherd itself should have the types, so we just need to ensure this wrapper uses them.

[2019-10-09 07:07] Baspa opened #82 "How to use the shephourd tour in a SPA"
I want to switch between different pages during the tour. For example, when a user completes the first step, it moves to the second step on another page. How can I implement this? Are there any examples available?

[2019-10-09 07:16] Baspa commented on #82
I tried adding an action function to the button and in there linking to the other page, after that show step two but after the `window.location.replace` all the 'step-data' is lost.

[code]

[2019-10-09 11:59] rwwagner90 commented on #82
@Baspa this is definitely possible. You would need to start the tour on the first page, wait for the second page to show, then show the next step.

[2019-11-21 09:58] #82 closed

[2019-11-21 09:58] Baspa opened #124 "Wrap Shepherd.js around a React application"
I want to implement the [Shepherd.js][1] package in my React application to make a guided tour. They have a [React wrapper][2] which I thought would be good to use. My application consist about a huge amount of components so I want to wrap the tour around my application so it can be used everywhere and across multiple pages. In my application I already have some Higher-Order Components like dialog

[2019-11-21 12:27] rwwagner90 commented on #124
@chuckcarpenter this sounds like a logical request. Any idea what we need to do to support it?

[2019-11-25 16:01] #41 closed

[2019-11-25 17:17] chuckcarpenter commented on #124
@Baspa I need to update the readme as well, since I made a few changes to use hooks in the component, so I recommend setting it up more like what I have here: https://github.com/shipshapecode/react-shepherd/blob/master/example/src/App.js

It's a cleaner way to handle context, from what I understand of it. Let me know how that works for you.

[2019-11-26 07:59] Baspa commented on #124
This definitely works for me now.

[2019-11-26 11:28] Baspa commented on #124
Any idea on how I can check in the `beforeShowPromise` function if a `compononentDidMount`? Because sometimes I get the error that the element don't exist yet because the component didn't mount fast enough @chuckcarpenter

[2019-12-01 22:38] chuckcarpenter commented on #124
@Baspa `beforeShowPromise` wouldn't know much about lifecycle methods. I haven't had to do this in React, but you can use the native `MutationObserver` and then call the next step once the node exists in the DOM.

[2019-12-02 07:44] Baspa commented on #124
Okay thank you, I am gonna take a look at it @chuckcarpenter

[2019-12-02 09:27] Baspa commented on #124
I ended up with creating a function that checks if the element exist, if it doesn't it should check again after 0,5 seconds.

[code]

Then in the `beforeShowPromise` function I made the `Promise function` async so that it waits until the function is resolved:

[code]

[2019-12-02 09:27] #124 closed

[2019-12-04 11:58] Baspa opened #151 "Use tour.next() in react-shepherd"
If I use the React wrapper for Shepherd.js how can I advance to the next step? Where can I find the tour instance?

[2019-12-04 13:48] rwwagner90 commented on #151
@Baspa have you tried what the usage suggests? https://github.com/shipshapecode/react-shepherd#usage

[2019-12-04 13:48] rwwagner90 commented on #151
@chuckcarpenter perhaps you could help with this question?

[2019-12-04 16:56] Baspa commented on #151
Yes I did @chuckcarpenter

[2019-12-06 12:47] Baspa opened #152 "Material UI form elements get blocked by shepherd"
I use the tour with `useModalOverlay` set to `true`. However, when I do this form elements like selectlist or datetime pickers get unusable.

![image](https://user-images.githubusercontent.com/10845460/70324217-3205ec80-182f-11ea-8b99-26f5937f6055.png)

As you can see I am not able to select an option of the selectlist. Is there an option that checks if the attached div is expanded or something?

[2019-12-06 18:57] rwwagner90 commented on #152
You would have to manually handle this case. Ideally, the select would be rendered in place, but sometimes libraries render the dropdown part on the body to make sure it goes overtop of all content.

Do you know if the dropdown is all part of the same DOM parent element or if it is added to the body?

[2019-12-06 23:04] chuckcarpenter commented on #151
@Baspa this should be like how the tour context is passed here: https://github.com/shipshapecode/react-shepherd/blob/master/example/src/App.js#L25

And given that reference, you should be able to use any method on the instance.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/706378/70362410-207a1000-1842-11ea-8bc3-a586fc900fea.png">

[2019-12-09 08:50] Baspa commented on #152
It is added to the body @rwwagner90

[2019-12-09 13:17] rwwagner90 commented on #152
@Baspa then it would not be highlighted, as it is not part of the parent element. Does it have a render in place option?

[2019-12-09 16:08] chuckcarpenter commented on #151
Closing on last answer.

[2019-12-09 16:08] #151 closed

[2019-12-09 16:11] chuckcarpenter commented on #29
Assuming solved based on last comments.

[2019-12-09 16:11] #29 closed

[2019-12-09 16:13] chuckcarpenter commented on #152
@Baspa are you wanting to open that select and therefore change the size of the highlighted area?

[2019-12-09 16:29] rwwagner90 commented on #152
@chuckcarpenter he wants it to expand to include the dropdown content. This is not possible because the dropdown content is added to the body, not rendered in place.

[2019-12-10 07:56] basvandinther commented on #152
Exactly @rwwagner90 @chuckcarpenter

[2019-12-10 07:56] Baspa commented on #152
Exactly @rwwagner90 , @chuckcarpenter because now I can't click on the items in the dropdown.

[2019-12-10 17:52] rwwagner90 commented on #152
@Baspa it's not possible. The dropdown is a separate element on the body. We would need to support highlighting multiple elements to support this case.

[2019-12-11 07:40] Baspa commented on #152
I managed to fix this with the other function I wrote to check if an element already exist. Previously I wrote this to check if an element is already 'rendered':
[code]
After doing some checks on the elements that Shepherd creates I wrote a function that applies the classes `shepherd-enabled`, `shepherd-target` and a `z-index` of 10000:
[code]

I just pass the `classname` or `ID` from the element

[2019-12-11 07:40] #152 closed

[2019-12-11 13:22] rwwagner90 commented on #152
Ah I did not consider since it was on the body we could just move it overtop of the overlay with z-index.

[2019-12-13 19:29] realRaghavGupta opened #162 "showCancelLink not working"
I tried showCancelLink: true in the defaultStepOptions as given in the example, but its not working. Tried adding to the individual steps, its still not working.

[2019-12-13 20:44] rwwagner90 commented on #162
@realRaghavGupta can you please show us the code that is not working? @chuckcarpenter does the cancel link show up for you?

[2019-12-17 13:10] realRaghavGupta commented on #162
const tourOptions = {
	defaultStepOptions: { scrollTo:true, cancelIcon:true },
	useModalOverlay: true
  };

I am using this.

Cancel link doesn't show up for me.

[2019-12-17 15:34] rwwagner90 commented on #162
@realRaghavGupta I think `cancelIcon` is supposed to be an object. Check the format here https://shepherdjs.dev/docs/Step.html#Step

[2019-12-18 04:14] chuckcarpenter commented on #162
@realRaghavGupta you're right the example does have the old way. Using this does work:

[code]

<img width="682" alt="image" src="https://user-images.githubusercontent.com/706378/71055258-2ad5bd00-2112-11ea-806f-86039e9beee9.png">

I'm going to PR an update to the example site and readme. Thanks for pointing it out!

[2019-12-18 15:02] #162 closed

[2020-02-21 12:36] ashnur opened #236 "Readme example broken"
`import {ShepherdTour, ShepherdTourContext} from 'react-shepherd'`

ShepherdTourContext is undefined.

[2020-02-21 12:56] rwwagner90 commented on #236
Looks like it is defined in our code https://github.com/shipshapecode/react-shepherd/blob/master/src/index.tsx#L63

What version are you using @ashnur?

[2020-02-21 13:16] ashnur commented on #236
I am looking at the dist files in the distributed node package from npm, and the Context is not exported. Maybe some changes weren't published to npm?

[2020-02-21 13:16] ashnur commented on #236
└── react-shepherd@2.1.0

[2020-02-21 13:22] ashnur commented on #236
The example folder does contain an example similar to the readme, but the tests are not using the Context, the changes in October were not implemented with tests covering them. I am assuming here, perhaps wrongly, that if I would use a development build, it would work.

[2020-02-21 13:34] rwwagner90 commented on #236
@chuckcarpenter can you take a look at this?

[2020-02-21 13:44] ashnur commented on #236
just
`wget https://registry.npmjs.org/react-shepherd/-/react-shepherd-2.1.0.tgz`
and see the files in the dist directory.

[2020-02-21 13:51] rwwagner90 commented on #236
Looks like there have been 183 commits to master since 2.1.0, so I suspect we just need to release a new version.

[2020-02-21 22:22] chuckcarpenter commented on #236
@ashnur in the meantime, the current release example and docs can be seen here: https://github.com/shipshapecode/react-shepherd/pull/71/files

Thanks for the ping on us not releasing this change!

[2020-02-22 14:07] ashnur commented on #236
I install the package from github using `npm i shipshapecode/react-shepherd` and it compiles since I have everything necessary in the dependencies already, but it's not ideal. : )

[2020-02-25 21:16] chuckcarpenter opened #245 "Move GH pages deployment to GH actions"

[2020-02-25 21:17] chuckcarpenter commented on #236
@ashnur released v3 today and docs should now all sync up!

[2020-02-25 21:17] #236 closed

[2020-03-12 14:05] ashnur opened #266 "scrollTo: true ineffective without special scrollHandler"
I can try to create a failing test later / so far I am just 90% sure this is probably an issue with the wrapper and not shepherd itself. The element I am trying to scroll to is a child of a different parent in a different component than where the start tour button is rendered. Just a guess so far, but I am thinking that when the selector is ran either the target element is not yet rendered, or by

[2020-03-24 13:11] nathggns opened #281 "ShepherdTour type definition incorrectly expects instances of Step class for steps property"
The type definition for the React Component ShepherdTour declares that the steps property must be an array of instances of the Step class. This is not how the README documents that the library should be used.

This means simply copying the example from the README causes a type check error.

[code]

That's with the below code.

[code]

Additionally, the type checker doesn't know the type of the ret

[2020-03-24 15:20] rwwagner90 commented on #281
I believe steps must all be just POJOs now. @chuckcarpenter can we update the types here?

[2020-03-24 23:32] chuckcarpenter commented on #281
@nadnoslen good catch and I think we just need to update to `steps: Array<Step.StepOptions>;` to cover the first one. I'm going to need to dig a little more into TS returns for context. I _think_ we want `const ShepherdTourContext = React.createContext(Tour);`

[2020-03-25 12:19] nathggns commented on #281
Thanks for picking this up so fast pals!

For what it's worth, this is easy to workaround downstream for people who can't wait for a fix.

[code]

[2020-03-25 13:40] nathggns opened #282 "New instance of the tour created on every render of the provider"
As the tour instance is created in the render block of the context provider component, every time this is re-rendered this creates a new instance of the tour, which is then provided to child components via the context.

If you're trying to trigger the tour automatically using an effect, this will result in the tour being re-created every time the provider component is re-rendered.

A potential fix

[2020-03-25 13:50] nathggns commented on #282
Actually probably don't need an effect. A useMemo is probably fine for it.

[2020-03-25 17:55] nathggns opened #284 "Unable to mark button as "disabled""
It seems not possible to mark a button as disabled in the steps provided, which is possible in the underlying Shepherd library.

[2020-03-26 18:36] chuckcarpenter commented on #281
@nathggns would you review and test this fix please? https://github.com/shipshapecode/react-shepherd/pull/285

[2020-03-26 19:03] uniqname opened #286 "Meaningless return value from Array.prototype.forEach"
https://github.com/shipshapecode/react-shepherd/blob/7510f86815d25a24648d5d628aa55a74f6970781/src/index.tsx#L29

`forEach` doesn't return anything so return values from the function argument is meaningless. It's meant either for side effects, or mutation -- though the later should probably be avoided if possible. Should we use `Array.prototype.map` instead?

[2020-03-26 21:46] chuckcarpenter commented on #286
@uniqname I believe we actually don't want to return something there, but it's true we're mutating. Could be more explicit.

[code]

[2020-03-26 21:52] #282 closed

[2020-03-26 22:28] chuckcarpenter commented on #282
@nathggns I should've tested this in a React app, but doing this now. Seeing this error:

[code]

[2020-03-26 23:05] chuckcarpenter commented on #282
okay, fixed in #285 if you want to check it out. Specifically, redundant React versions: https://github.com/shipshapecode/react-shepherd/pull/285/commits/dbebe72109269394a3d4d88b967f154c6c2d6543#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L71

[2020-03-27 18:51] #281 closed

[2020-03-30 08:24] appleneil opened #288 "After tour is canceled/completed and started again, overlay is not present anymore"
Hey guys, I have the same issue as https://github.com/shipshapecode/shepherd/issues/347. The overlay is created on the first render but as soon as a tour is completed / cancelled the overlay is removed. If I start the tour again the overlay is not recreated.

[2020-03-30 12:53] rwwagner90 commented on #288
@chuckcarpenter this sounds like a potential regression from the work you did to destroy the overlays on cancel. Do we have tests making sure it gets created again when the tour is started again?

[2020-03-30 14:39] nathggns opened #296 "Missing type overloads for tour event listener"
This is less of an issue and more of a request, but it would be nice if type overloads were provided for the event listener, so that TypeScript would know the type of the event object passed to event listeners based on what event you're listening to.

I'll look into a pull request for this, but not sure when I'll get the time to do it.

[2020-03-31 12:07] appleneil opened #297 "How can I access the tour object?"
[code]

Hey guys, how can I access the tour object to add or remove steps from within the app component?
I need to be able to change the steps according to a media query (done via `matchMedia`). I have tried putting steps in the state, but every time I update the state it creates a new tour.

[2020-04-01 22:06] chuckcarpenter commented on #297
@appleneil not sure how you're starting the tour or if you're trying to adjust steps on the fly, but `const tour = useContext(ShepherdTourContext);` gives you the tour instance. It's fullfilled once you start the tour. e.g., the button example in the README.

[2020-04-02 05:58] appleneil commented on #297
@chuckcarpenter I'm starting the tour in a function component in a separate file so I can't use `useContext`. I would like to access the tour instance (and add or remove steps) from within the App component (to go off the example given the in README).

[code]

Basically to do something like the above bit of code.
Without accessing the tour instance, every time I change the original steps, a new to

[2020-04-05 15:07] rwwagner90 commented on #284
@chuckcarpenter do we not pass options to the buttons from here?

[2020-04-08 22:48] chuckcarpenter commented on #284
@rwwagner90 I just matched the button factory function in here: https://github.com/shipshapecode/ember-shepherd/blob/master/addon/utils/buttons.js#L34

But I could just map the action and spread everything else passed in.

[2020-04-08 22:53] chuckcarpenter commented on #297
@appleneil offhand, couldn't you `useContext` in the other file and pass that around? I think how you're doing it with state is causing rerender, since the tour is changing and therein kicking off a new tour. We don't share it globally, but I think you could somehow pass that in memory. Sorry, not sure without more context.

[2020-04-09 07:03] appleneil commented on #297
@chuckcarpenter thanks for the reply. I'm basically doing the exact same thing as the example code. I can't go through `useContext` in the App class component and can't find a way to access the tour instance to be able to add / remove steps cleanly. I've tried importing the context type from the button component, and `static contextType = ShepherdTourContext` inside the app class component but it

[2020-04-09 07:09] appleneil commented on #297
@chuckcarpenter here's a basic example of what I would like to do.
[code]

[2020-04-09 13:18] rwwagner90 commented on #284
@chuckcarpenter looks like we need to add `disabled` and `label` to the factory function, both here and in ember-shepherd.

[2020-04-13 21:36] chuckcarpenter commented on #288
fixed in Shepherd.js v7.1.1

[2020-04-13 21:45] chuckcarpenter commented on #297
@appleneil using class components, I believe you're going to need to use v2.1.0 of this package. https://github.com/shipshapecode/react-shepherd/tree/e4823a950d085e4eb11daa76abd7e81728dd8d67#usage

Something like:
[code]

[2020-04-14 06:56] appleneil commented on #288
I've updated to 7.1.1 and the problem still persists

[2020-04-14 07:12] appleneil commented on #297
Thanks for the answer but my app is too complicated to go at it this way (even if the two components involved are a class and a function component like in the example). I've been able to do what I want by adding a step based on the media query in the constructor of the app component. The only downside is if I have a user that has a device that is in between breakpoints (if he changes orientation),

[2020-04-14 16:03] rwwagner90 commented on #288
Those `when` methods are for the step, not the tour. If you want to test when tour methods fire, please try `tour.on('cancel'` etc.

[2020-04-15 06:12] appleneil commented on #288
ok, the tour events are logged correctly. The overlay still isn't created the second time round (whether the first tour was cancelled or completed) on `shepherdjs7.1.1` and `react-shepherd 3.1.0`

[2020-04-15 12:57] rwwagner90 commented on #288
@appleneil can you provide a reproduction?

[2020-04-15 14:12] appleneil commented on #288
@rwwagner90 I recreated the problem in a fresh create-react-app using the following code
[code]

[code]

[2020-04-15 14:13] rwwagner90 commented on #288
Thanks @appleneil. @chuckcarpenter do you have time to take a look?

[2020-04-15 17:29] chuckcarpenter commented on #288
@appleneil It is working for me, using this repo's test site in the `/example` folder. Can you tell me what you have when you `npm ls shepherd.js`? e.g., I have:

![image](https://user-images.githubusercontent.com/706378/79368294-02b16b80-7f04-11ea-86a3-47696d06d1d2.png)

[2020-04-15 17:30] chuckcarpenter commented on #288
gif with working flows for both completion and cancel:

![out](https://user-images.githubusercontent.com/706378/79368374-21176700-7f04-11ea-8e91-72e485b2efad.gif)

[2020-04-15 17:33] chuckcarpenter commented on #288
@appleneil I've updated the lock file in master to be explicit to 7.1.1, so try installing from there. I want to see if maybe you had version conflicts.

[2020-04-16 06:05] appleneil commented on #288
@chuckcarpenter I've got
<img width="218" alt="Screenshot 2020-04-16 at 08 04 41" src="https://user-images.githubusercontent.com/2428482/79420324-03580980-7fb9-11ea-9eac-c61c53bf18b0.png">

[2020-04-16 06:57] appleneil commented on #288
@chuckcarpenter even in the example code I've got
![image](https://user-images.githubusercontent.com/2428482/79424269-2e922700-7fc0-11ea-8459-3c924e117adc.png)
and the problem still persists... :-(

[2020-04-16 13:08] rwwagner90 commented on #288
I'm also unable to reproduce this. @appleneil can you please make a codepen or similar to show the error? Since we are not able to reproduce, there is no way for us to debug. Also, what browser are you using?

[2020-04-16 15:01] chuckcarpenter commented on #288
@appleneil your screenshot shows you have the version with the bug
![](https://user-images.githubusercontent.com/2428482/79420324-03580980-7fb9-11ea-9eac-c61c53bf18b0.png)

You need to be using v7.1.1 for it to work

[2020-04-16 15:17] appleneil commented on #288
@rwwagner90 I'm unable to give you guys a codepen, I can't get react-shepherd on there.
@chuckcarpenter I've restarted my project making sure that I had v7.1.1 and double checked my simple create-react-app and I still have the problem. I'm using Chrome 81.
I even have the problem with your example
![image](https://user-images.githubusercontent.com/2428482/79473533-8c952d80-8005-11ea-8b6f-01bfbf08a

[2020-04-16 15:19] rwwagner90 commented on #288
@appleneil you can add scripts to codepen in settings. You can use something like https://cdn.jsdelivr.net/npm/shepherd.js@7.1.1/dist/css/shepherd.css except change the paths to be for react-Shepherd.

[2020-04-16 16:05] appleneil commented on #288
I'm trying to get one sorted, but I keep getting errors whenever I try to use either `const tour = useContext(ShepherdTourContext);` or the `<ShepherdTour>`. The error thrown is https://reactjs.org/docs/error-decoder.html/?invariant=130&args[]=undefined&args[]=

[2020-04-17 00:18] rwwagner90 commented on #266
@ashnur any updates here?

[2020-04-18 02:14] ashnur commented on #266
I couldn't figure out what was happening, so I ended up just wrapping popper.js myself with some custom elements and a scroller. If I have to configure everything, I can write everything, it's not more work.

[2020-04-18 02:14] #266 closed

[2020-04-18 12:13] rwwagner90 commented on #266
@ashnur we would be glad to help debug, but we would need some way to reproduce.

[2020-04-18 12:50] ashnur commented on #266
Do you need help, or do I need help? :) Because this issue is more than a month old and I solved my problem without react-shepherd the same day I opened it. So I definitely do not need help since the problem was already solved about 888 hours ago :)

https://stackblitz.com/edit/react-ctgk8g

[2020-04-18 14:06] rwwagner90 commented on #266
@ashnur creating your own implementation, instead of using a tour library, is not solving the problem. We have no way to know what your setup is, so your initial issue wasn't enough for us to look into it.

[2020-04-18 14:07] rwwagner90 commented on #266
@chuckcarpenter do you mind taking a look at this?

[2020-04-18 14:57] ashnur commented on #266
:) I don't claim that my approach would solve everything react-shepherd does, but it did happen to get the result I was aiming for. Should I now decline myself this solution because you disagree with me about it?

I believe that we are on the same page in this matter. All what happened was I ran into a problem trying to solve a problem, opened the issue, realized I have one another way to go about

[2020-04-20 20:35] chuckcarpenter commented on #288
@appleneil I have a working sandbox here: https://codesandbox.io/s/admiring-hellman-23nzm

Loading from a CDN will only have the last published version. I'm going to try to update this to use the new lock file and perhaps save you time in an example. Feel free to fork mine and see if you have things causing issues still.

[2020-04-20 21:17] #284 closed

[2020-04-20 22:26] #288 closed

[2020-04-20 22:27] chuckcarpenter commented on #286
refactored: https://github.com/shipshapecode/react-shepherd/blob/master/src/index.tsx#L38

[2020-04-20 22:27] #286 closed

[2020-04-21 06:29] appleneil commented on #288
@chuckcarpenter I'll give it a try from your sandbox. Thanks guys for all your help

[2020-04-21 11:12] appleneil commented on #288
@chuckcarpenter @rwwagner90 just to let you know, that did the trick, and everything works great. Thanks again

[2020-04-21 20:26] Sergio16T opened #317 "Seeking documentation on class components"
Our codebase uses both Hooks and Classes, I tried looking back at TourMethods in previous versions and still had trouble. Curious to know if the library still supports both?

[2020-04-21 20:32] Sergio16T commented on #317
Reading through the closed issues, I realize I will have to install v2.1.0 of this package

[2020-04-21 20:34] Sergio16T commented on #317
Would be awesome if future release supports both hooks and classes. Thanks for the amazing library!

[2020-04-24 19:20] chuckcarpenter commented on #317
@Sergio16T would you be able to help us try that out? From what I see, the component still exports context for you to use the v2 pattern. So, you'd import `TourMethods` and use it like in the previous example. I believe the API is still there for it:

[code]

Happy to try to find a way to support both, but I'm not well versed in context using the class component pattern.

[2020-04-24 23:19] Sergio16T commented on #317
Had Trouble getting the source zip files with my work laptop so we went with another library in the interest of speed and have since implemented the product tour. However to help, I installed React-Shepherd in a local project on my mac book pro and had no problem installing the zip files and just tested both Hooks and Classes and they are both working as documented.

Would be helpful if there was

[2020-04-24 23:31] chuckcarpenter commented on #317
@Sergio16T `this.props.tourContext` wasn't available to you? I think you'd pass it down using my example and then those props could be accessed in the lifecycle method. I originally found the info here: https://github.com/facebook/react/issues/12397

Perhaps try a code sandbox?

[2020-04-24 23:37] Sergio16T commented on #317
Yes that is exactly what I attempted to do.
In Parent
`
 return (
      <div className="App">
        <ShepherdTour steps = {steps} tourOptions={tourOptions}>
            <TourMethods>
                ({tourContext}) => (
                    <NavTabs data={tabData} tourContext={tourContext}/>
                );
            </TourMethods>
        </ShepherdTour>
      </div>
    )
`
In Child

`
cla

[2020-04-24 23:46] Sergio16T commented on #317
It's telling me tourContext is undefined at line below TourMethods

[2020-04-24 23:50] chuckcarpenter commented on #317
@Sergio16T I have a working example here: https://codesandbox.io/s/affectionate-dream-eckxv

Not sure how yours differs, but this definitely works. Let me know if you discover some edge case.

[2020-04-24 23:50] Sergio16T commented on #317
I apologize I had created an app2 to experiment with and didn't update the import in index.js with ReactDOM.render()

The App import had the hooks example..

everything is working correctly

[2020-04-24 23:52] Sergio16T commented on #317
Thanks very much for your help! I apologize for the confusion. The app2 had the class components.. everything was working fine

[2020-04-24 23:54] chuckcarpenter commented on #297
@appleneil useful thread here: https://github.com/shipshapecode/react-shepherd/issues/317

Turns out you don't have to downgrade, so just an FYI.

[2020-04-24 23:55] #317 closed

[2020-06-21 20:22] Hakeemmidan opened #377 "Readme Syntax and Import Errors"
Hi,

I think you have parenthesis and import errors in `README.md`. Here's what I think the file should look like:
_____________________________
# react-shepherd

<div>
  <a href="https://shipshape.io">
    <img align="left" src="http://i.imgur.com/DWHQjA5.png" alt="Ship Shape" width="50" height="50"/>
  </a>

**[react-shepherd is built and maintained by Ship Shape. Contact us for web app consulti

[2020-06-22 13:40] rwwagner90 commented on #377
@Hakeemmidan it is unclear what changes you made here. Would you like to submit a PR instead?

[2020-06-22 18:53] Hakeemmidan commented on #377
@rwwagner90 I tried doing that but I got an `access denied` error.

If you use VSCode, you can copy the raw Markdown from [this gist](https://gist.github.com/Hakeemmidan/0ba9c7433c0c7cc458d443aa6545006e), and post it in the repo on your computer. The changes should be highlighted.

[2020-06-22 19:17] rwwagner90 commented on #377
@Hakeemmidan you have to fork the repo, make a branch on your fork with the changes, then submit a PR.

[2020-06-25 00:22] Hakeemmidan commented on #377
done (ref #382)

[2020-06-25 00:26] Hakeemmidan commented on #377
Actually I'll close this when the PR gets approved. My apologies

[2020-06-25 14:48] #377 closed

[2020-07-10 01:49] cyremur opened #390 "Read Step options from tour.getCurrentStep()"
For context, I have a tour that I want to advance when the user interacts with a highlighted object in a certain manner.

My component structure looks somewhat like this:

[code]

Now when `advanceTourConditionally(tour)` is triggered, I want to check if I'm in tour step X when the click occurs and if the current step is X then show the next step with `tour.next()`.

I was trying to use `tour.getC

[2020-07-10 02:38] cyremur commented on #390
Was able to achieve the desired behaviour with `tour.getById("step-x").isOpen()`, but I'm still confused as to why the `Step` information is hidden like this.

[2020-07-10 11:58] rwwagner90 commented on #390
@cyremur `tour.getCurrentStep()` should give you the step. If something with the types is hiding things, we would greatly appreciate your help fixing them. The types are here https://github.com/shipshapecode/shepherd/tree/master/src/types

[2020-07-10 23:40] cyremur commented on #390
@rwwagner90 So what I'm missing is the `options` field of both `Tour` and `Step`. I'm not sure if there is a possibility to expose them and keep them immutable, which I assume is desired since at least `Step` has a dedicated `updateStepOptions(options: Step.StepOptions): void;`. I don't think it's possible to create a public getter like `getOptions()` just in the typings.

So with only touching th

[2020-07-10 23:48] rwwagner90 commented on #390
@cyremur the options are not meant to be exposed. Options are for building the tour and steps and not necessarily properties that will live on the final thing.

As for releases, we're pretty good about updating. No need for a fork.

[2020-07-11 00:52] cyremur commented on #390
@rwwagner90 I assumed they were meant to be hidden by design. Hm... I think the most important info is really `Steps.id`. This is also part of the `Step` fields and not only nested in options. Can that be made accessible? I'd be fine in wrapping it in a getter to guarantee immutability, but I think having
[code]
would be beneficial for more complex tours that advance steps on complicated interacti

[2020-07-11 17:08] rwwagner90 commented on #390
@cyremur anything accessible in vanilla JS should also be exposed when using TS, so if you need some types to expose `id` please feel free to add them and open a PR!

[2020-07-13 10:14] cyremur commented on #390
Just so you know, currently, the JavaScript library as used in the demo website exposes pretty much everything.

![image](https://user-images.githubusercontent.com/5361181/87291199-4285f000-c4ff-11ea-8beb-a536f3cc695f.png)

That's why I got the idea of just exposing `options` to React. You might want to consider hiding the properties in the vanilla JS framework if that's possible and intended.

An

[2020-07-13 16:39] rwwagner90 commented on #390
@cyremur essentially anything you can do in JS should be possible in TS. We're not intentionally hiding anything. I just think `options` is mostly internal to step building, so wasn't sure if we really needed types for it.

[2020-07-13 23:47] chuckcarpenter commented on #390
closed by shipshapecode/shepherd#1044

[2020-07-13 23:47] #390 closed

[2020-07-23 21:39] b-zurg opened #401 "react-shepard.now.sh is broken"
![image](https://user-images.githubusercontent.com/57298613/88341328-1ad82880-cd46-11ea-89a2-8cffd2a3cd87.png)

[2020-07-23 22:00] rwwagner90 commented on #401
@chuckcarpenter I don't know if that ever worked? Can we remove all the experiments you started?

[2020-07-24 14:00] srodriki opened #402 "tour is null"
Hey shepherd team! I'm doing a very basic usage of this wrapper with a single step tour and following your example almost line by line. However, the call to useContext(ShepherdTourContext) returns a null value.

Here's my code:

[code]

any help is much appreciated!!

[2020-07-24 14:58] chuckcarpenter commented on #401
It never worked right, but I didn't realize that Vercel updated the about section of the repo with it's permissions. I'll reset.

[2020-07-24 14:58] #401 closed

[2020-07-24 15:01] chuckcarpenter commented on #402
@srodriki could you provide a code sandbox to help us see an example? What you show here looks fine, but perhaps there are details missing. e.g., https://codesandbox.io/s/admiring-hellman-23nzm?file=/src/App.js:622-641

[2020-07-24 16:35] srodriki commented on #402
@chuckcarpenter I got to reproduce the issue with this: https://codesandbox.io/s/busy-tereshkova-unl1j?file=/src/App.js

So basically the main difference is I moved the "ShepherdTour" component inside the same component that references the tour object. Maybe that's a mistake on my end?

[2020-07-24 16:47] chuckcarpenter commented on #402
@srodriki you're declaring the context before the provider, so no I don't think that'll work.

[2020-07-24 16:48] srodriki commented on #402
@chuckcarpenter

thanks man! much appreciated. closing now!

[2020-07-24 16:48] #402 closed

[2020-07-24 17:10] #245 closed

[2020-07-24 17:11] chuckcarpenter commented on #401
@b-zurg set the link back to our GH pages link, https://shipshapecode.github.io/react-shepherd/

[2020-08-07 12:46] highviewstudios opened #414 "I am getting an error saying Cannot read property 'start' of null"
Has anybody else had this issue?

function Button() {
      const tour = useContext(ShepherdTourContext);

      return (
        <button className="button dark" onClick={tour.start}>
          Start Tour
        </button>
      );
    }

[2020-08-07 12:47] #414 closed

[2020-08-07 12:47] highviewstudios commented on #414
Sorry this issue has already came up, didn't look in the closed tab

[2020-08-11 13:07] shepmaster opened #418 "Consider exporting more types"
I'd like to declare my steps and button arrays as typed constants:

[code]

However, types like `ShepherdOptionsWithType` aren't exported:

[code]

[2020-08-11 13:10] shepmaster commented on #418
As a workaround, I'm using

[code]

[2020-08-11 13:39] rwwagner90 commented on #418
@shepmaster we're not purposefully hiding anything with types. Please feel free to open a PR on the Shepherd repo adding or exporting whatever types you need 😃

[2020-09-05 14:18] #418 closed

[2020-09-25 20:51] JakeGreer opened #471 "Documentation on how to use Shepherd with React Router?"
I can't seem to find anything that explains how to switch routes within the tour. window.location.replace = "/someurl" refreshes the page and kills the tour completely. I am trying to achieve something along the lines of this

[code]
I am including the steps as
[code]

When the steps' hide function is called, the url path is switched but the component is not rendered. Is there any examples on how

[2020-09-27 18:32] rwwagner90 commented on #471
In Ember and Angular, we have services we use, so the state is app wide instead of tied to a single component. I am guessing there is a similar concept to use in React, but React doesn't have services, so unsure. @chuckcarpenter any suggestions?

[2020-09-29 00:44] JakeGreer commented on #471
Hi @rwwagner90 Thank you for the response, I have actually solved the issue this was purely a `React Router` mistake that I made that was not allowing me to reroute properly. I have React Shepherd successfully switching between routes while maintaining the tour. I can post any examples if needed.

[2020-09-29 12:30] rwwagner90 commented on #471
@JakeGreer an example would be great for our README, as I assume others will have this question too.

[2020-09-30 23:28] JakeGreer commented on #471
I created a global history file so that I could access router history from the steps

[code]

I created a steps file that imported my history

[code]
Lastly include ShepherdTour and add history to router

[code]

[2020-09-30 23:28] #471 closed

[2020-10-02 19:16] JakeGreer opened #476 "'data-popper-reference-hidden' attribute is not being removed when the step gets called."
Would there be some sort of silent error that causes the step not to show. I get strange behavior where once the step is called, the overlay shows, the element gets highlighted and the show/hide functions get called, but the text box does not appear. I can see the element in the DOM with the attribute `data-popper-reference-hidden` attached to it, and if I delete it the box shows. Any suggestions

[2020-10-02 19:23] JakeGreer commented on #476
It seems to only be happening if I have the developer console open. Super strange. Maybe there is not enough room for the element to show? Not sure.

[2020-10-04 12:30] rwwagner90 commented on #471
@JakeGreer do you mind opening a PR to add this to our README?

[2020-10-04 12:43] rwwagner90 commented on #476
@JakeGreer yeah, I think it gets hidden if you scroll to a place where it cannot fit to display.

[2020-11-03 12:35] cenkce commented on #476
I live this problem too.

[2020-11-03 12:39] cenkce commented on #476
Shepherd-modal's position is correct but keep hidden.

[2020-11-03 12:55] rwwagner90 commented on #476
@cenkce it's hidden if it doesn't have room to be displayed on your screen

[2020-11-03 13:00] cenkce commented on #476
I can't understand what the room means? Page has enough spaces to show dialog if you mean that.

[2020-11-03 13:04] cenkce commented on #476
<img width="936" alt="Screen Shot 2020-11-03 at 16 03 34" src="https://user-images.githubusercontent.com/176122/97988597-4317fe80-1dee-11eb-9c11-6824df8810b4.png">

[2020-11-03 13:09] rwwagner90 commented on #476
@chuckcarpenter do we have anything specific to this react wrapper that might be causing this? There definitely seems like plenty of room here.

[2020-11-03 13:10] cenkce commented on #476
Display dialog for Name field but I click next then it keeps hidden. What do you recommend?

[2020-11-03 13:23] cenkce commented on #476
I use a scrollbar component and when I remove it then it works as expected.

[2020-11-09 16:58] chuckcarpenter commented on #476
@JakeGreer or @cenkce any chance you guys could setup a basic code sandbox where this is replicated? The demo site, https://shipshapecode.github.io/react-shepherd/, works fine even when I have devtools open.

[2020-11-16 22:39] nathggns opened #535 "Weird 🍻 log on 3.3.1"
This is weird… I can't find any reference to it in your codebase, but on 3.3.1 I'm getting a log of 🍻 in the console. This is the relevant code.

[code]

Any idea what this is about?

[2020-11-17 14:17] rwwagner90 commented on #535
@chuckcarpenter did we perhaps accidentally publish something here?

[2020-12-03 17:08] OAnouman opened #553 "Declaration or statement expected"
Hi, i got an error  on import

```import { ShepherdTour, ShepherdTourContext } from 'react-shepherd```

Error:
```TypeScript error in .../node_modules/react-shepherd/dist/index.d.ts(18,1)```

[code]

My modules:
+ "react-shepherd": "^3.3.2",
+ "typescript": "~3.7.2",

Need some help. Any fix??

Thanks

[2020-12-03 17:09] rwwagner90 commented on #553
@chuckcarpenter @r0bc4ry do either of you have time to look at this?

[2020-12-07 10:24] OAnouman commented on #553
Hello, still no solution ?

[2020-12-08 18:29] chuckcarpenter commented on #553
@OAnouman have you tried newer versions of TS? I'm using `typescript@4.1.2` and don't see this issue. Otherwise, perhaps create a code sandbox to replicate the exact error?

[2020-12-08 18:33] chuckcarpenter commented on #535
@nathggns that was pushed on accident and is gone in 3.3.2

[2020-12-08 18:33] #535 closed

[2020-12-09 09:33] ravikumarjs-foyernet opened #558 "typescript error"
The below error is coming in the react typescript project.

[code]

[2020-12-09 09:57] #558 closed

[2020-12-14 03:51] ravikumarjs-foyernet opened #560 "Latest version not working properly"
![Screenshot from 2020-12-14 09-17-38](https://user-images.githubusercontent.com/69786094/102046146-b571fa80-3e00-11eb-8680-932163a373fc.png)

version 2.1.0 working like this, it highlighting selected class and popover design also good.

why version 3.3.2 is not working like version 2.1.0?

[2020-12-14 15:53] rwwagner90 commented on #560
My guess is you need to include the styles. @chuckcarpenter can you confirm what breaking changes were for 3.x?

[2020-12-15 11:49] OAnouman commented on #553
Hi @chuckcarpenter
I will try and make a feedback.

[2020-12-16 06:53] ravikumarjs-foyernet commented on #560
@chuckcarpenter please confirm what breaking changes were for 3.x

[2020-12-16 14:57] rwwagner90 commented on #560
@ravikumarjs-foyernet can you confirm if you are importing the styles, like we do in the example? https://github.com/shipshapecode/react-shepherd/blob/master/packages/example/src/App.js#L5

[2020-12-16 15:01] ravikumarjs-foyernet commented on #560
No @rwwagner90

[2020-12-16 15:03] rwwagner90 commented on #560
@ravikumarjs-foyernet you have to import the styles for it to work

[2020-12-16 15:10] ravikumarjs-foyernet commented on #560
Thank you @rwwagner90

[2020-12-16 15:28] rwwagner90 commented on #560
@ravikumarjs-foyernet does it work now?

[2020-12-16 16:59] chuckcarpenter commented on #560
@ravikumarjs-foyernet I believe the breaking changes were around what version of Shepherd was being used. But, as @rwwagner90 suggested, your issue is around the styles import. For more info on changes, you can use this compare. https://github.com/shipshapecode/react-shepherd/compare/v2.1.0...v3.0.0

[2020-12-16 16:59] #560 closed

[2020-12-16 17:20] ravikumarjs-foyernet commented on #560
Thanks @chuckcarpenter

[2020-12-17 13:19] ravikumarjs-foyernet commented on #560
yes @rwwagner90

[2021-01-07 00:19] chuckcarpenter commented on #553
@OAnouman please open this back up if you can replicate with the latest version

[2021-01-07 00:19] #553 closed

[2021-01-09 22:40] vinibispo opened #562 "advanceOn does not work"
I'm trying to emit a click event on an element, but that is not working.
[docs:options.advanceOn](https://shepherdjs.dev/docs/Step.html)

[2021-01-10 01:03] rwwagner90 commented on #562
@vinibispo sorry to hear you are having trouble, but the option should work. We would need much more info to help diagnose the problem further. Can you share some code?

[2021-01-10 11:25] vinibispo commented on #562
'course
I did this code sandbox to clearify
 [Sandbox](https://codesandbox.io/s/blissful-margulis-rzmmu)

[2021-01-10 19:37] rwwagner90 commented on #562
@vinibispo clicking profile advances the tour for me in your sandbox. Does it not for you?

[2021-01-10 20:28] vinibispo commented on #562
Sorry @rwwagner90 I was thinking in the other way, if I would click on next, that makes click on profile automatically.
Is there a way to click on next and that fire the click?

[2021-01-11 00:37] rwwagner90 commented on #562
@vinibispo yeah, you can use custom actions on buttons.

[code]

[2021-01-11 00:37] #562 closed

[2021-01-13 14:27] tomish0 opened #563 "stepsContainer option not working for typescript react project"
https://codesandbox.io/s/modest-volhard-yyrf6

[2021-01-13 16:46] rwwagner90 commented on #563
@tomish0 your example does not have any way to start the tour. Can you please include an example showing the bug?

[2021-01-13 16:48] rwwagner90 commented on #563
Also, we have tests for this functionality in Shepherd, so it should be working: https://github.com/shipshapecode/shepherd/blob/7530e9781a9c0114b44401cd5bd2a3ea2baad6c8/test/unit/tour.spec.js#L506

[2021-01-13 17:53] chuckcarpenter commented on #563
@rwwagner90 I can confirm it's not working on the latest release, but does in master. https://codesandbox.io/s/happy-pine-jugd5

[2021-01-13 23:56] chuckcarpenter commented on #563
@tomish0 this is fixed in master, so an update to 3.3.3 will take care of this. You can see the working example https://codesandbox.io/s/happy-pine-jugd5

[2021-01-13 23:56] #563 closed

[2021-01-14 14:00] npedrini commented on #553
@chuckcarpenter I'm also using `typescript@^3.7.0` and seeing the same error. Unfortunately, my project is within a monorepo and typescript is a root-level dependency and beyond my control. Would be much appreciated if there was a recommended workaround, as currently my project won't compile.

[2021-01-14 16:29] rwwagner90 commented on #553
@npedrini what version of react-shepherd are you using?

[2021-01-14 16:34] npedrini commented on #553
@rwwagner90 I'm using `3.3.3`. I've tried all the 3. versions as well but the behavior is the same.

[2021-01-14 17:59] chuckcarpenter commented on #553
@npedrini is it not possible to update your project to 3.8, which supports type only exports? Otherwise, you can use an older version of this package and do your own exports. https://shipshape.io/blog/exporting-typescript-imports/

[2021-01-15 08:44] npedrini commented on #553
@chuckcarpenter it may be, but typescript is specified as a root-level dependency in a monorepo so any updates have an impact on more than just the subproject I work on. I ended up rolling my own react integration, but might be worth considering rearchitecting how those types are exported so older versions of typescript are supported.

[2021-01-15 22:15] rwwagner90 commented on #476
This seems like a bug with custom scroll wrappers. I propose we close as wontfix @chuckcarpenter

[2021-01-15 22:52] #476 closed

[2021-01-15 23:00] chuckcarpenter commented on #553
@npedrini you can't really do both. This is the PR that introduced more exports, which before that you had to declare your own. https://github.com/shipshapecode/react-shepherd/pull/439

As I said before, pinning to an earlier version is the alternative to doing a TS 3.8 update in your project. If there's something I'm missing, we're happy to look at any pull request you think would be helpful.

[2021-01-17 14:42] tomish0 commented on #563
Perfect, I've updated the package, working now. Thank you!

[2021-01-25 23:45] chuckcarpenter opened #565 "Fix publishing workflow"

[2021-02-02 18:03] ravikumarjs-foyernet opened #566 "How to add media query?"
not getting, how to do the responsiveness for mobile and tablet using default styles?

[2021-02-02 18:33] rwwagner90 commented on #566
@ravikumarjs-foyernet what do you mean? You can override any of the styles as you see fit.

[2021-02-02 18:39] ravikumarjs-foyernet commented on #566
I mean how to design it for mobile screen?

[2021-02-02 18:44] rwwagner90 commented on #566
@ravikumarjs-foyernet however you want. This is 100% dependent on how you want it to look.

[2021-02-02 18:44] #566 closed

[2021-02-04 18:07] yairEO opened #567 "transition between step changes"
Would be nice if the steps changed from one another with a feel of each, where the highlighted area moves with transition and the info "buble" as well.

This other script does it well in the demo page
https://github.com/elrumordelaluz/reactour

But that script is extremely poor with step settings and seems to be abandoned by its creator, while react-shepherd has a good set of `step` settings allow

[2021-02-04 18:11] yairEO commented on #567
related to - https://github.com/shipshapecode/shepherd/issues/82#issuecomment-773504573

[2021-02-04 19:27] rwwagner90 commented on #567
@yairEO have you tried using CSS transitions for this?

[2021-02-04 19:58] yairEO commented on #567
Thanks!

No, I didn't want to spend time converting all my website's already-existing tour component without being absolutely certain animations betweens teps are possible.

Why doesn't the demo have this by default?
it would really help in making a decision when "shopping" for tour/walkthrough scripts for a project.

[2021-02-04 19:58] #567 closed

[2021-02-04 21:28] rwwagner90 commented on #567
@yairEO it hasn't been a priority. If you'd like to submit some suggested transitions, we would gladly review a PR.

[2021-02-25 13:22] kash0296 opened #568 "Getting window is not defined error."
I am trying to use react-shepherd in a project. When I try to build it locally, I get this error, saying window is not defined. I am using react 16.3

/home/kash296/myProject/node_modules/react-shepherd/dist/Shepherd.js:4342
[1]       var w = window;
[1]               ^
[1]
[1] ReferenceError: window is not defined
[1]     at Object.polyfill (/home/kash296/myProject/node_modules/react-shepherd/nod

[2021-02-25 14:10] rwwagner90 commented on #568
@kash0296 sounds like you are using server side rendering, where there is no window.

[2021-02-25 14:14] kash0296 commented on #568
@rwwagner90  actually yes. How can I get this to work with an app that uses server side rendering?

[2021-02-25 14:16] rwwagner90 commented on #568
@kash0296 this thread has many options for you https://github.com/vercel/next.js/issues/2473

[2021-02-25 14:16] #568 closed

[2021-03-13 21:51] mattveraldi opened #570 "Tour modals don't show properly"
Hi, I'm coding an app tour with this React wrapper.
I tried the tutorial on the README just to see if everything works, but I think that something is wrong with styles.
![image](https://user-images.githubusercontent.com/26458615/111050716-85151900-844e-11eb-9362-c1d40a16d0be.png)

I'm using React Bootstrap as a design system for my app.

[2021-03-13 21:54] rwwagner90 commented on #570
@mattveraldi you must include Shepherd's CSS, if you want the default styles. Is it included in your app?

[2021-03-13 21:58] mattveraldi commented on #570
Yes, I included it in `index.html` as `<link rel="stylesheet" href="shepherd.js/dist/css/shepherd.css"/>`

[2021-03-14 16:37] rwwagner90 commented on #570
@mattveraldi that does not seem like a correct path, unless you copied a `shepherd.js` folder into your app. Likely you want to import it from `node_modules`.

[2021-04-29 21:32] OllyHodgson commented on #570
I ran into the same thing, and solved it with this import statement in my React component.

`import "shepherd.js/dist/css/shepherd.css";`

[2021-05-02 00:02] rwwagner90 commented on #570
@OllyHodgson yeah, your react app likely has a build that will import from node_modules automatically. Imports like that typically work, but things like `<link rel="stylesheet" href="shepherd.js/dist/css/shepherd.css"/>` likely will not work.

[2021-05-04 18:18] #570 closed

[2021-06-01 11:39] ankit-vinove opened #580 "will it work with nextjs?"
when i am trying to use the exact code it is giving me the error of window not defined?

[2021-06-01 12:20] rwwagner90 commented on #580
@ankit-vinove you'll have to not run it server side. There is no window with SSR. @chuckcarpenter does nextjs provide an easy way to mark code as client side only or would we just need to say `if(typeof window !== 'undefined')` or something?

[2021-06-02 05:13] ankit-vinove commented on #580
yeah i tried by validating the undefined condition but as i am importing the react-shepherd it is throwing the window error there only. And i also tried using dynamic import in nextjs but the in DOM the component is not getting rendered.

[2021-06-03 00:11] chuckcarpenter commented on #580
@ankit-vinove have you tried to load the lib as suggest dynamically? https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

[2021-06-16 12:34] UtopiaEH opened #583 "Multiple tours ReactJS"
How to create multiple tours for different modules or separate pages ReactJS

[2021-06-17 15:50] rwwagner90 commented on #583
@UtopiaEH Multiple tours at once are not permitted. You'll want to use one tour and setup different sets of steps.

[2021-06-18 09:02] seiry-apt opened #584 "upgrade React version in peer dependency to 17."
Is it possible to bump the deps version?

[2021-06-18 12:35] rwwagner90 commented on #584
@chuckcarpenter any reason not to update? We should probably setup dependabot.

[2021-06-20 17:50] timothyallan commented on #583
Hmmm. Any recommended way to segregate/partition a tour to handle multiple pages, or does each page/area/module just have to keep track of which step to show/start/end with?  We have an enterprise app with dozens of separate modules we were going to use this for and adding/removing steps to a single tour would soon become a nightmare, each of our modules would have to update their step #'s accordi

[2021-06-21 00:03] rwwagner90 commented on #583
@timothyallan you can separate the steps however you would like.

[code]

You can totally replace the tour with a new one when you load up a new module, if you'd like. The thing that is not supported is running multiple active tours at the same time.

[2021-06-21 04:26] timothyallan commented on #583
Awesome, thanks for the clarification. That'll work well.

[2021-06-21 06:33] UtopiaEH commented on #583
yes I did and I did distribute the steps at the time, but I thought it was possible to make different copies for him

sorry use Google Translate :D

[2021-06-23 16:56] #583 closed

[2021-06-24 23:50] chuckcarpenter commented on #584
https://reactjs.org/blog/2020/08/10/react-v17-rc.html

Looks like it's pretty low risk, @seiry-apt could you submit a PR from your fork? Otherwise, I'll try to update in the next couple of days.

@rwwagner90 it's setup on here, but I don't think does anything for peer dependencies.

[2021-06-27 16:07] CharlotteArai opened #585 "Reset canClickTarget when next step is attachedTo same element"
Hi!
So I have 2 steps in my tour that are attached to the same element.
In step 1 the element is disabled (canClickTarget:false) and in step 2 the element should be enabled (canClickTarget:true).
But I can't figure out how to update the canClickTarget in step 2.

Any help is much appreciated!
Many thanks 😀

[2021-06-28 21:29] rodbs opened #586 "position absolute; inset: 0 auto auto 0"
In understand that by default the box is position next to the highlighted object with
```position absolute;  inset: 0 auto auto 0 ```

Is there a way to move it  the box or put some space between them (inset: 5px, ...) ? Can this position be controlled anyhow?

Thanks!

[2021-06-28 23:51] rwwagner90 commented on #586
@rodbs yes, Shepherd uses popper behind the scenes. Check out the `offsets` section of https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2021-06-28 23:51] #586 closed

[2021-07-09 11:18] YM-KA opened #587 "New instance of the tour created on every render of the provider (Relates to #282 ?)"
Every time a component, that uses the tour context, is re-rendered a new instance of the tour is created.
The new instance is then provided to child components via the context.

If you're trying to trigger the tour automatically using an effect, this will result in the tour being re-created (the tour id will change) every time the provider component is re-rendered.

We are accessing the tour in se

[2021-07-12 13:03] chuckcarpenter commented on #584
@seiry-apt have you tested this? I tried and was having some issues locally, but an example on https://codesandbox.io/s/admiring-hellman-23nzm seems to be working fine.

[2021-07-12 13:45] chuckcarpenter commented on #585
@CharlotteArai could you provide an example, perhaps in something like https://codesandbox.io ?

[2021-07-13 07:59] CharlotteArai commented on #585
Thanks for your reply!
Here's an example: https://codesandbox.io/s/react-shepherd-clickable-elements-1669x

Maybe it's working as expected and the canClickTarget can't be 'reset' in between steps?
It would be easier if the canClickTarget could be 'toggled' between steps, but it's not a big issue, I solved it by attaching the step to a child element instead (step 3 in sandbox).

[2021-07-14 09:13] andreastepel opened #588 "Redux breaks tour object"
I need to personalize some content inside each step for my users. Therefore I am wrapping my Redux Provider outside the `<ShepherdTour/>` component. As soon as I am using the `connect()` function for my App.js the tour object becomes inaccessible (e.g. tour.next(), tour.isActive()).

Anyone experiencing this issue as well?

[2021-07-16 19:07] chuckcarpenter commented on #587
@YM-KA perhaps setting up a codesandbox would make it easier to debug together? Offhand, I'd think it was correct anytime the component rerenders that you'd get a new tour, so you'd either prevent that via state in your app or perhaps only having the tour on a certain route, etc. Shepherd doesn't have any mechanism for to prevent multiple tours, that all falls on the app itself.

[2021-07-16 19:08] chuckcarpenter commented on #588
@andreastepel perhaps post an example from codesandbox ?

[2021-07-16 19:14] chuckcarpenter commented on #585
@CharlotteArai no, you're right, it should reset and so that appears to be a bug. Thanks for the example, it really helps. It appears that once we add the disabled class, we don't reset it. https://github.com/shipshapecode/shepherd/blob/695936b3b51442b2aa2cf9985a528cf4d0b959f7/src/js/step.js#L420

[2021-07-16 19:31] chuckcarpenter commented on #585
fix in https://github.com/shipshapecode/shepherd/pull/1544, but will require a release in the main lib

[2021-07-19 12:56] CharlotteArai commented on #585
That's great, many thanks! 👍

[2021-07-19 12:56] #585 closed

[2021-07-19 13:06] CharlotteArai commented on #588
To get access to redux in your steps.js maybe you could just import the store?

`import { store } from '../../app'`

and in app or wherever you configure your store
`export const store = configureStore();`

This way you'll get access to getState() (and other things such as dispatch)
Hope this helps 🤓

[2021-07-20 15:49] karlhorky commented on #580
@chuckcarpenter just tried dynamic `import` with `ssr: false` now, along with @inespart - but it ended up not showing any tour content at all

Would be cool to get a recommendation from the maintainers as to how to use this with Next.js and other SSR frameworks

[2021-07-23 17:17] #584 closed

[2021-07-23 17:47] chuckcarpenter commented on #580
@karlhorky that's fair, so i gave a quick whirl. https://codesandbox.io/s/crazy-oskar-4xiug

Basically, you need to use the `useEffect`, since it's not fired on the server.

[2021-07-23 17:47] #580 closed

[2021-07-23 18:05] chuckcarpenter commented on #580
One more note, updated to work with dynamic imports, because seems like was inconsistent w/o that. Hope this helps!

[2021-07-23 20:10] karlhorky commented on #580
Great! Would it be possible to add a small section to the readme / docs about usage in Next.js and other SSR / SSG frameworks?

[2021-07-24 08:49] inespart commented on #580
That’s great, thank you for the update!

[2021-08-03 15:07] DhiaDjobbi commented on #471
@JakeGreer Solution works Perfectly fine with a Normal `Router`
But in case u are using `HashRouter` then u can use `createHashHistory` instead of `createBrowserHistory `.
[code]

[2021-08-04 14:36] katrinewi opened #597 "Scroll bug when scrolling inside the active element"
There is some weird behaviour when scrolling inside the active element of the tour ..

To reproduce:
1. Go to: [https://shipshapecode.github.io/react-shepherd/](https://shipshapecode.github.io/react-shepherd/)
2. Click start tour
3. Position the cursor inside the active area of the tour and scroll down, when the active step is outside of the screen it is impossible to do anything.

It would be nic

[2021-08-24 02:51] #588 closed

[2021-10-28 17:15] null00 opened #598 "Arrow padding as a function does not work"
Latest version of popper supports setting up the arrows padding as a function according to the docs: [Arrow padding](https://popper.js.org/docs/v2/modifiers/arrow/#padding).

Seems that react-shepherd is using an older version of popper which does not support that.

Proof: [Sandbox](https://codesandbox.io/s/zealous-kilby-1z2d0?file=/src/App.js)

Is there any chance of getting that popper updated t

[2021-10-29 22:03] chuckcarpenter commented on #565
@ulken commented https://github.com/shipshapecode/react-shepherd/pull/589#issuecomment-955072794

[2021-11-01 18:22] #565 closed

[2021-11-02 00:13] #598 closed

[2021-11-02 00:29] chuckcarpenter commented on #598
@null00 this should be in v3.3.6 now published

[2021-11-02 01:24] rwwagner90 commented on #565
@chuckcarpenter was this fixed or abandoned? We need to apply labels to the issues and PRs for the changelog generation.

[2021-11-02 08:59] null00 commented on #598
Thanks @chuckcarpenter for your quick actions!

Works like a charm :)

[2021-11-11 13:44] popuguytheparrot opened #602 "add info about install original package for styling"

[2021-11-11 13:50] popuguytheparrot opened #603 "button type cancel dont close popover"
[code]

[2021-11-11 15:24] chuckcarpenter commented on #602
@popuguytheparrot could you add more info here, I'm not clear what you mean exactly?

[2021-11-11 15:46] chuckcarpenter commented on #603
@popuguytheparrot can you share a codesandbox with an example? Still seems to work here https://shipshapecode.github.io/react-shepherd/ and here with v3.3.6 https://codesandbox.io/s/competent-marco-evlw9

[2021-11-11 15:46] #603 closed

[2021-11-12 08:18] popuguytheparrot commented on #603
Yep, there work fine, but in my app doesn't. I tried reproduce, but is going fine 🤨

[2021-11-12 08:21] popuguytheparrot commented on #602
i install only react wrapper and when i was try to use, got unexpected broken styles.

[2021-11-12 16:30] chuckcarpenter commented on #602
Did you import the default CSS? e.g., https://github.com/shipshapecode/react-shepherd/blob/v3.3.4/packages/example/src/App.js#L5

[2021-11-12 16:30] #602 closed

[2021-12-14 05:15] busyxiang commented on #587
I am having the same issue as well using NextJS, it will become a new instance when I change the page, any solutions so far?

[2021-12-15 07:37] busyxiang commented on #587
In the end, I just use the JS version instead and handle the instance myself

[2021-12-15 21:19] chuckcarpenter commented on #587
@busyxiang could you provide an example with this behavior? Seems like it's been fixed since, https://github.com/shipshapecode/react-shepherd/pull/283.

Otherwise, care to share how you proceeded and see if there's anything we could change/improve?

[2022-01-11 12:30] ulken opened #611 "TS type signature is off (pun unintented) for`Evented.off`"
[code]

should be

[code]

I.e., the `handler` parameter should be [optional](https://github.com/shipshapecode/shepherd/blob/master/src/js/evented.js#L25).

[2022-01-11 12:36] ulken commented on #611
Moved to core repo: https://github.com/shipshapecode/shepherd/issues/1757

[2022-01-11 12:36] #611 closed

[2022-01-12 02:20] jtheis85 opened #612 "Can steps have react component content, not just text?"
I am considering using react-shepherd for a mature commercial project. We have a fair number of non-interactive elements (e.g. SVG icons, text parsing and styling, etc) encapsulated by React components.

Can react-shepherd steps include arbitrary react component content? All the examples I see only use the "text" element, which is likely not sufficient for us. https://shepherdjs.dev/docs/Step.html

[2022-01-13 20:25] rwwagner90 commented on #612
Hi @jtheis85, thanks for reaching out. Can you please clarify what you mean exactly? You want to display elements from the page like SVGs etc inside the tooltip itself?

[2022-01-13 21:05] jtheis85 commented on #612
Inside of this area:
![image](https://user-images.githubusercontent.com/2453292/149408484-01d9dfde-8d0a-41a0-85c9-bcfaff130fe7.png)

Instead of plain text, want to be able to render arbitrary React components like `<MyReactComponent  someProps={...})/>`.

(For SVG specifically, I was just giving examples of the *kinds* of react components I would like to use.  I am not interested in whether raw SV

[2022-01-14 00:37] rwwagner90 commented on #612
@jtheis85 gotcha, I suppose I don't understand the use case still though. Do you have an example of what you would be putting inside the tooltip? I get you want to reuse react components, but shouldn't those components be on your page and you highlight them with Shepherd vs putting them inside the tour tooltip?

[2022-01-14 01:13] jtheis85 commented on #612
Yes, I understand that Shepherd points to existing React components on the page. It will often be important for our explanatory content *inside the tour tooltip* to include React components.

When explaining parts of our app to users, we may want to leverage formatting, icons, images, navigation buttons, links, embedded videos, and other rich content. We have an extensive existing library of react

[2022-01-14 19:27] m1073496 commented on #612
Hi @jtheis85, the tool tip area you're looking to modify is represented by the text step option which must resolve to either an:
-  HTML string
- `HTMLElement` object
- `Function` to be executed when the step is built. It must return one the two options above.

To get your arbitrary React components to resolve to an HTML string, you can [import ReactDOMServer](https://reactjs.org/docs/react-dom-se

[2022-01-18 01:41] jtheis85 commented on #612
@m1073496 thanks! This is helpful, I appreciate the working example.

It seems a bit round-a-bout, but it looks like that's the best that can be done in terms of React/shepherd interop. I guess the underlying Shepherd API doesn't leave room for many other options.

I'll consider my issue closed.

[2022-01-18 01:41] #612 closed

[2022-01-18 16:53] rwwagner90 commented on #612
@jtheis85 if you could please respond back when you have your tour implemented, I would love to see some real world examples of the types of steps you're going for 😃

[2022-01-18 22:07] dkeele opened #614 "Documentation discrepancy. `button.type` and `button.action`"
The `react-shepherd` [readme](https://github.com/shipshapecode/react-shepherd#steps) uses the `type` key to define steps. This key is not listed on the [overall docs](https://shepherdjs.dev/docs/Step.html), it appears that `button.action` has taken its place.

When using `action` in the place of `type` in the example on the readme, `this` is undefined. It's impossible to call event methods like `t

[2022-01-19 19:11] brsc2909 commented on #614
How are you defining your button? I'm doing like so and it works perfectly.
[code]

You may be making the same mistake I originally did by defining it with `action` as the key and then an arrow function, which will not work.
[code]

[2022-01-19 21:37] dkeele commented on #614
Oh duh! That was it! Thanks!

Remaining question: Which is the preferred method to advance to the next step? `type: "next"` or `this.next()`?

[2022-01-20 15:52] chuckcarpenter commented on #614
@dkeele as in the example, if you pass in a type then an action isn't required. e.g., https://github.com/shipshapecode/react-shepherd/blob/master/packages/example/src/steps.js#L27

[2022-01-20 15:52] #614 closed

[2022-01-20 16:45] rwwagner90 commented on #614
I would recommend `this.next` just to be closer to the Shepherd API.

[2022-02-15 19:24] mikeLspohn opened #625 "attach.on type fails with Type 'string' is not assignable to type 'PopperPlacement | undefined'."
This is on v 3.3.6 using the code shown in the README.md copied and pasted in. No matter what I change it to it always fails with the `on` option included. It's fine without that one property.

[2022-02-17 19:10] chuckcarpenter commented on #625
@mikeLspohn could you share a codesandbox with your issue? I have this one using that prop in 3.3.6 and it's works. https://codesandbox.io/s/admiring-hellman-23nzm

[2022-04-04 12:46] Pernick commented on #625
Seems like simple typescript issue.

You are probably defining your steps in array like this:

[code]

The problem is, that from typescript POV, the `attachTo` is automatically typed to

[code]

But the `steps` property requires the provided value to be array of `ShepherdOptionsWithType`, where `attachTo` is defined as this:

[code]

One of the solutions is to tell typescript that the value should

[2022-04-20 13:17] tanmay964 opened #632 "jest syntax error"
I am not able run one of the test cases due to this issue
**unexpected token '.'

[2022-04-22 17:39] chuckcarpenter commented on #632
@tanmay964 could you provide an example? I just ran the tests without issue.

[code]

[2022-05-17 13:03] MrWarzo opened #636 "can't have a multi-tour part with react history"
I have to use ```window.location.href``` if I wan't to change the current page but i can't use react history and i don't want to reload everytime the url change

[2022-05-24 15:40] Necolanch opened #638 "Intended install command causes errors"
Running the install command listed in the README causes errors and can only be installed adding --force at the end of the command

[2022-05-30 09:35] Guymestef opened #639 "[React18] Missing children property on ShepherdProps"
Hello,

The package is not usable with react 18 due to a breaking change (children is not added by default on FC component anymore).
So when upgrading to react 18 we get the following typing error:

`
Type '{ children: ReactNode; steps: ShepherdOptionsWithType[]; tourOptions: TourOptions; }' is not assignable to type 'IntrinsicAttributes & ShepherdProps'.
  Property 'children' does not exist on ty

[2022-05-30 09:45] Guymestef commented on #639
As a workaround, I locally overrided the typings:

`const ShepherdTourReact18 = ShepherdTour as React.FC<React.ComponentProps<typeof ShepherdTour> & { children?: React.ReactNode }>;`

[2022-06-08 09:13] barteksmuga opened #640 "Upgrade Shepherd version"
Hi,

Is that possible to upgrade the Shepherd version to `10.0.0`? This is related to the bug in the latest Chrome 102.0.5005.61 (Official Build) (arm64) with background opacity.

The issue in shepherd: [#1941](https://github.com/shipshapecode/shepherd/issues/1941)
The PR in shepherd: [PR](https://github.com/shipshapecode/shepherd/pull/1942)

Thanks!

[2022-06-24 18:18] #640 closed

[2022-06-24 18:39] chuckcarpenter opened #643 "Setup release-it for automated releases using semver"

[2022-06-30 03:52] zxhycxq opened #644 "the link 404"
https://shipshapecode.github.io/react-shepherd/

![image](https://user-images.githubusercontent.com/11674203/176588972-efa38176-529e-4a8b-9aac-10fa9fa324fa.png)

[2022-07-05 18:54] monshan commented on #638
Hello, you are experiencing this because your project is likely running `React 18` using `npm 7` and we have a peer dependency in the package for `React 17`. You have two options:

1. Use the `--legacy-peer-deps` option along with the install script to bypass the errors and install dependencies even with peer dependencies
2. Downgrade your project to `React 17` (the compatible version with the pac

[2022-07-05 19:35] monshan commented on #636
Could you be more specific in describing your issue? Perhaps how to replicate?

On another note, `Shepherd` has recently been upgraded to version 10 and we have made the same dependency upgrade on `react-shepherd`. The update allows for step attachment on user event-triggered content or content that isn't shown until just before the step. Upgrading your `react-shepherd` version may solve the probl

[2022-07-05 21:53] #639 closed

[2022-07-05 22:29] #644 closed

[2022-07-06 17:06] Nate-Wessel commented on #638
@monshan, so does `react-shephard` not work yet(?) with React 18? Is this in the works? I'm reluctant to use a global flag to get a single package working and I'm not likely to downgrade React for this.

[2022-07-06 19:06] monshan commented on #638
@Nate-Wessel `react-shepherd` works with React 18, this issue has more to do with the distinction between how `npm 6` vs `npm 7+` handle peer dependencies and that react is a major dependency. Please reference the docs [here](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#peerdependencies)

[2022-07-06 19:36] #632 closed

[2022-07-07 00:09] #638 closed

[2022-07-07 13:24] Nate-Wessel commented on #638
Thanks y'all!! Will this be released as a patch in 4.0.2?

[2022-07-08 00:00] chuckcarpenter commented on #638
This has been released in v4.1.0

[2022-07-25 01:55] sushmathenepalle opened #673 "react-shepeherd with older react version"
My project is currently on react version `15.7`. When I tried installing shepherd.js and imported in my project, I faced below error,
`Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_0_react___default.a.createContext is not a function` because of `var ShepherdTourContext = React.createContext();`

Any workaround for this ? I even tried oldest version of react-shepherd wrapper which is `1.1.1`, same

[2022-07-28 22:48] chuckcarpenter commented on #673
@sushmathenepalle there is no version of this released without a Context/Provider pattern. Have you looked at implementing with the plain JS version? https://github.com/shipshapecode/shepherd

[2022-08-02 18:11] #673 closed

[2022-08-09 08:37] ShunyaWatanabe commented on #602
Hi, thanks for developing such an awesome library! I'm so far liking how easy it is to implement an onboarding UX using react-shephered.

One thing that confused me is that I needed to add the below line for the modal to look fine, which you mentioned in the above comment.

[code]

It might be good to add this in README?

[2022-08-23 08:35] skymirros opened #677 "button's action hook doesn't work"
- Here to replay: https://codesandbox.io/s/react-shepherd-forked-qwv5yx?file=/src/index.js
- Version: 4.1.0 or 3.3.3

[2022-08-23 08:37] skymirros commented on #677
` buttons: [
      {
        classes: "shepherd-button-secondary",
        text: "Exit",
        type: "cancel",
        action(){
          this.show()
        }
      },
      {
        classes: "shepherd-button-primary",
        text: "Back",
        type: "back"
      },
      {
        classes: "shepherd-button-primary",
        text: "Next",
        type: "next"
      }
    ]`

    I want to

[2022-08-25 03:30] itsuki0927 opened #678 "node version does not support 12.x"
Thank you for making this package, it meets all my needs, but there is a small question, I see that shepherd.js only  `"node": "12.* || 14.* || >= 16"`, but react-shepherd needs `node > 14`, the current company pipeline Node version is 12.22.1, so I will use I can't find this package, I would like to ask if it is possible to reduce the version of this react-shepherd node for compatibility?

![imag

[2022-08-27 05:14] #678 closed

[2022-08-29 18:36] chuckcarpenter commented on #678
@itsuki0927 are you no longer blocked by this issue?

[2022-08-29 18:38] chuckcarpenter commented on #677
@skymirros not clear on the issue as the sandbox you shared it does seem the action hook is working. e.g.,

[code]

which shows this console log

<img width="357" alt="image" src="https://user-images.githubusercontent.com/706378/187274015-ea9901ba-df7c-4fb6-9e22-9513f10e3e97.png">

[2022-08-31 16:20] Nate-Wessel commented on #612
IMO, this seems like a pretty obvious thing one would want to do. React projects use little components all over the place, but here they have to be convertible to an HTML string? What about state, event listeners, context, etc?

Simple use cases would include:
* pointing out something on the page while directly referencing it inline. E.g. an icon on a map.
* using components that rely on context l

[2022-08-31 17:03] rwwagner90 commented on #612
@Nate-Wessel this library is meant to be usable by anyone, not just people using React. It is not built in React. We have wrappers for frameworks. Like https://github.com/shipshapecode/react-shepherd

Perhaps we could do some work there to make things more user friendly for React devs? The underlying code is written in Svelte, so doing things with other frameworks out of the box is going to prove

[2022-09-12 21:39] chuckcarpenter commented on #612
@Nate-Wessel I've been trying to think about a way to use this more streamlined with a React app's components. Seems like a really wide use case though and so I'm not really wrapping my head around a good implementation. I'd assume we're extend the Tour and Step classes and perhaps do something instead of this https://github.com/shipshapecode/react-shepherd/blob/master/packages/lib/src/index.tsx#L

[2022-09-14 21:04] Nate-Wessel commented on #612
From my limited understanding of how Shepherd works, I think what would be needed here would be to bring all of the Shepherd DOM manipulation into React World. That is, when the tour needs to pop up, let React actually render the entire tour component itself rather than e.g. having Shepherd attach some elements to the document `<body/>`. This would keep that element within React's control, and any

[2022-09-19 22:28] chuckcarpenter commented on #612
@Nate-Wessel Agreed that this library would have to override quite a bit of vanilla Shepherd to support that use case. I don't believe we have the capacity for that kind of rewrite, but would support in any way PRs that would move toward that and do a major release for it.

[2022-10-06 18:47] #677 closed

[2022-10-06 18:48] dhhuynh2 commented on #636
Just bumping this because I believe I have a similar problem. I think the issue described in the original post is that if you want to navigate to other pages via a certain step, in react, using react-router, you would either use the `useHistory` or `useNavigate` hooks. Because we're defining the logic in the steps array, you can't use hooks. You also can't use `window.location.href` because the pa

[2022-10-10 16:14] wlsp opened #682 "Progress bar"
Servus good people,

Thank you very much for this great tool. It is a lot of fun to use and implement. I have a question though, how would I implement a progress bar in react-shepherd?

I have looked at both documentations, shepeherd.js & react-shepherd to have a better look at the syntax.
However, when I use the "when" method with a specific function, in this case a progress bar, I get the error:

[2022-10-13 21:47] chuckcarpenter commented on #682
@wlsp great question, since things are different from the vanilla JS lib. I _think_ you'd want to actually use `ShepherdTourContext` for the active instance, but I'll see if I can do a code sandbox soon to test that.

[2022-10-14 09:21] wlsp commented on #682
Hey @chuckcarpenter , thanks for reply also for the sandbox. I appreciate it.
May I perhaps express an idea? How about if you declare the step-index in the interface 'ShepherdProps' and give it as a number?
i.e:
[code]

And from here on you can manipulate the tour and its behavior with the stepIndex e.g.: create a controlled tour. That when the user opens or closes a modal, the steps update themse

[2022-10-20 22:44] chuckcarpenter commented on #682
@wlsp Would you be up for a PR to showcase more in depth what you mean? Sounds like a lot to add outside of types to me, but perhaps I misunderstood.

I did get a functional, but not pretty solution on how you can manipulate the instance after it's created via the hook. https://codesandbox.io/s/admiring-hellman-23nzm?file=/src/App.tsx

[2022-10-21 20:40] chuckcarpenter commented on #636
@dhhuynh2 wouldn't this work fine if you were just trying to update the URL? https://developer.mozilla.org/en-US/docs/Web/API/History/pushState

[2022-10-22 16:37] bennett1412 commented on #644
The documentation site still seems to be broken?
![image](https://user-images.githubusercontent.com/34763279/197351543-2cf605be-203a-44f8-89b5-cf9e2de4e6b3.png)

[2022-10-29 12:25] wlsp commented on #682
hey @chuckcarpenter, for sure I'm up to a PR. And thanks for your solution. I tried it but unfortunately I didn't get a real result.  However, if I get something done, you'll be the first to know.

[2022-11-03 00:19] chuckcarpenter commented on #644
@bennett1412 looks like 43rd time is the charm! https://shipshapecode.github.io/react-shepherd/

[2022-11-03 00:27] chuckcarpenter commented on #644
turns out a static site doesn't like the React context so much. Probably going to move this to Vercel to simplify.

[2022-11-11 00:10] chuckcarpenter commented on #644
@bennett1412 finally fixed and deployed. New URL: https://shipshape-react-shepherd.netlify.app/

[2022-11-11 00:21] bennett1412 commented on #644
thank you 🤝